body{
  background-image: url("../../docs/scenic-sunrise-high-mountains-alpes-generative-ai\ \(1\).jpg");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
}

.page-margin{
  margin: 75px;
}