@import 'bootstrap/dist/css/bootstrap.min.css';


a {
  text-decoration: inherit;
}

li {
  font-size: 25px;
}

body {
  margin: 0;
  display: block;
  min-height: 200vh;
  font-family: 'Roboto Slab', serif;
}