.margin-top{
  margin-top: 100px;
  width: 100%;
}

img{
  border-radius: 1rem;
}

.project-image-description{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-description{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  // padding-top: 250px;
}

.space-apart{
  display: flex;
  justify-content: space-evenly;
}

div{
  font-size:20px;
  color:rgba(255, 255, 255, 0.815);
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
}

.padding-top{
  padding-top: 2.5%;
}

.headshot-sizing{
  height: 500px;
  // border-radius: 1rem;
}

.horizonal-padding{
  padding-left: 1rem;
  padding-right: 1rem; 
}