.margin-top{
  margin-top: 50px;
  width: 100%;
}

img{
  margin: 10px;
  border-radius: 1rem;
}

.project-image-description{
  padding-bottom: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-description{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3rem;
    justify-content: space-around;
}

.space-apart{
  display: flex;
  justify-content: space-evenly;
}

div{
  font-size: 20px;
  color: #ffffff;
}

.padding-top{
  padding-top: 2.5%;
}

.headshot-sizing{
  height: 500px;
  border-radius: 50px;
}

.horizonal-padding{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}

.wedding-photo{
  height: 500px;
  width: auto;
}

.padding{
  padding:1rem;
}