.margin-top{
  margin-top: 100px;
  width: 100%;
}

img{
  border-radius: 1rem;
}

.project-image-description{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-description{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.space-apart{
  display: flex;
  justify-content: space-evenly;
}

div{
  color:rgba(255, 255, 255, 0.815);
}

.padding-top{
  padding-top: 5%;
}