.site-title {
  font-size: 3rem;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; 
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: 1.25rem
}

.nav a {
  color: #FEC748; 
}

.nav a:hover {
  color: #D92139; 
}

.big-pic{
  display: flex;
  min-width: 90%;
  max-width: 90%;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  // padding: 50px;
}