.site-title {
  font-size: 3rem;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; 
  padding: 1rem;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 2.5rem;
  font-size: 1.75rem
}

.nav a {
  color: #FEC748; 
}

.nav a:hover {
  color: #D92139; 
}

.big-pic{
  display: flex;
  min-width: 95%;
  max-width: 95%;
  align-items: flex-end;
  justify-content: space-between;
}

.nav-color {
  background: #253f589c;
}