.margin-top{
  margin-top: 100px;
  width: 100%;
}

img{
  border-radius: 1rem;
}

.portfolio-image-description{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-description{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10rem;
}
